.page .content {
    margin-left: 30px;
}

.page .content li {
    margin-top: 20px;
    border-bottom: 1px solid #FFFFFF;
}

.page .content li a {
    margin-left: 10px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 20px;
}

.page .content li a:hover {
    color: #3F3F3F;
}

.page .content li .pic {
    position: absolute;
    right: 500px;
    display: none;
    border: 20px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

#pro1:hover::after {
	position: absolute;
    content: '';
    display: inline-block;
    width: 180px;
    height: 320px;
    background: url(https://raw.githubusercontent.com/gulsong/XXNews/main/%E6%95%88%E6%9E%9C%E5%B1%95%E7%A4%BA.jpeg) no-repeat;
    background-size: 100% auto;
	border: 20px solid rgba(0, 0, 0, 0.5);
}

#pro2:hover::after {
	position: absolute;
    content: '';
    display: inline-block;
    width: 180px;
    height: 320px;
    background: url(https://raw.githubusercontent.com/gulsong/PlaneWars/main/%E6%95%88%E6%9E%9C%E5%B1%95%E7%A4%BA.jpeg) no-repeat;
    background-size: 100% auto;
	border: 20px solid rgba(0, 0, 0, 0.5);
}

#pro3:hover::after {
	position: absolute;
    content: '';
    display: inline-block;
    width: 180px;
    height: 320px;
    background: url(https://raw.githubusercontent.com/gulsong/Movie/master/%E6%95%88%E6%9E%9C%E5%B1%95%E7%A4%BA.jpeg) no-repeat;
    background-size: 100% auto;
	border: 20px solid rgba(0, 0, 0, 0.5);
}

#pro4:hover::after {
	position: absolute;
    content: '';
    display: inline-block;
    width: 405px;
    height: 230px;
    background: url(https://raw.githubusercontent.com/gulsong/Store/main/%E6%95%88%E6%9E%9C%E5%B1%95%E7%A4%BA.jpeg) no-repeat;
    background-size: 100% auto;
	border: 20px solid rgba(0, 0, 0, 0.5);
}

.page .content .code {
    font-size: 10px;
}

.page .content .code {
    font-size: 10px;
}
