.page .content {
    margin-left: 30px;
}

.page .content li {
    margin-top: 20px;
    border-bottom: 1px solid #FFFFFF;
}

.page .content li a {
    margin-left: 10px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 20px;
}

.page .content li a:hover {
    color: #3F3F3F;
}

.page .content li .pic {
    position: absolute;
    right: 500px;
    display: none;
    border: 20px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.page .content li .pro:hover+.pic {
    display: block;
}

.page .content .code {
    font-size: 10px;
}

.page .content .code {
    font-size: 10px;
}