a,
abbr,
address,
b,
bdo,
blockquote,
body cite,
code,
dd,
del,
div,
dl,
dt,
em,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
input,
ins,
kbd,
li,
ol,
option,
p,
pre,
select,
small,
span,
strong,
sub,
sup,
table,
textarea,
th,
tr,
ul {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    color: #000000;
    font-size: 14px;
    font-family: 'SimHei';
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    background-color: #808080;
}

.header {
    width: 100%;
    height: 200px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000, #696969);
    box-shadow: 0 0 10px 4px #000000;
}

.header .home {
    position: relative;
    top: 20%;
    left: 10%;
}

.header .home .out_border {
    border: 4px solid;
    border-color: #8B4513 #5E2D0A #5E2D0A #8B4513;
    width: 116px;
    height: 116px;
    float: left;
}

.header .home .out_border .border {
    border: 4px solid #723910;
    width: 108px;
    height: 108px;
}

.header .home .out_border .border .head {
    border: 4px solid;
    border-color: #5E2D0A #8B4513 #8B4513 #5E2D0A;
}

.header .home .title {
    margin-top: 50px;
    margin-left: 50px;
    color: #FFFFFF;
    font-size: 24px;
    float: left;
}

.page {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 200px;
    left: 0;
}

.page .page_header {
    border-bottom: 6px solid #3F3F3F;
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #696969;
}

.page .page_header .date {
    margin-top: 14px;
    margin-left: 14px;
    color: #FFFFFF;
    font-size: 20px;
}

.page .content {
    margin: 100px;
    color: #FFFFFF;
    font-size: 50px;
}

.page .music {
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 80px;
}

.page .footer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-color: #696969;
    box-shadow: 0 0 10px 2px #000000;
    text-align: center;
}

.page .footer .link {
    display: inline-block;
    margin: 50px;
}

.page .footer .link li {
    margin: 10px;
    float: left;
}

.page .footer li a {
    color: #BBBBBB;
    font-size: 16px;
}

.page .footer .github a::before {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 0;
    background: url(../img/icon.png) no-repeat;
    background-position: 0px 0;
    background-size: 480px 270px;
    content: "";
}

.page .footer .bilibili_home a::before {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 0;
    background: url(../img/icon.png) no-repeat;
    background-position: -36px 0;
    background-size: 480px 270px;
    content: "";
}

.page .footer .bilibili_live a::before {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 0;
    background: url(../img/icon.png) no-repeat;
    background-position: -36px 0;
    background-size: 480px 270px;
    content: "";
}

.page .footer .acfun_home a::before {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 0;
    background: url(../img/icon.png) no-repeat;
    background-position: -72px 0;
    background-size: 480px 270px;
    content: "";
}

.page .footer .acfun_live a::before {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 0;
    background: url(../img/icon.png) no-repeat;
    background-position: -72px 0;
    background-size: 480px 270px;
    content: "";
}

.page .footer .tieba a::before {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 0;
    background: url(../img/icon.png) no-repeat;
    background-position: -108px 0;
    background-size: 480px 270px;
    content: "";
}

.page .footer .mail a::before {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 0;
    background: url(../img/icon.png) no-repeat;
    background-position: -144px 0;
    background-size: 480px 270px;
    content: "";
}

.page .footer .qq a::before {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 0;
    background: url(../img/icon.png) no-repeat;
    background-position: -180px 0;
    background-size: 480px 270px;
    content: "";
}

.page .footer li a:hover {
    color: #FFFFFF;
}